@import '../node_modules/@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Trebuchet MS";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/trebuchetms.ttf");
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.tilted {
	transform: rotate3d(1, 1, 1, -5deg);
}